* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
  background-image: url(/public/images/pattern-background-mobile-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.App-dark {
  background-image: url(/public/images/pattern-background-mobile-dark.svg);
  background-color: #313e51;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.body-dark {
  background-color: #313e51;
}
.heading1 {
  font-weight: 400;
  font-size: 2.4rem;
}
.heading1-dark {
  color: white;
}

.heading1-span {
  font-weight: 600;
}
.left-split {
  padding: 0rem 2rem;
}
.right-split {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.heading2 {
  color: rgb(98 108 127);
  font-weight: 500;
  font-size: 1rem;
  font-style: italic;
  margin-top: 1rem;
}
.heading2-dark {
  color: #abc1e1;
}

.cards {
  background: white;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0.8rem 1rem;
  border-radius: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.cards-dark {
  background-color: #64748b;
  color: white;
}
.img-wrapper {
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.html {
  background-color: rgb(255, 241, 233);
}
.css {
  background-color: rgb(224, 253, 239);
}
.icon-background {
  background-color: rgb(235, 240, 255);
}
.acc {
  background-color: rgb(246, 231, 255);
}
.heading1-quiz {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}
.progress-div {
  width: 100%;
  background-color: white;
  height: 0.5rem;
  border-radius: 10px;
  margin-top: 1.5rem;
  border: 1px solid rgb(204, 204, 204);
}
.progress {
  background-color: #a729f5;
  height: 100%;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.img-wrapper-quiz {
  background-color: #f4f6fa;
  padding: 0.5rem 0.8rem;
  border-radius: 15px;
}
.options-heading {
  font-size: 1.3rem;
  font-weight: 500;
}
.options-heading-dark {
  color: #626c7f;
}
input[type="radio"] {
  display: none;
}
.cards-quiz {
  gap: 1rem;
  justify-content: space-between;
}

.submit-btn {
  color: white;
  background-color: #a729f5;
  border: none;
  font-family: "Rubik", sans-serif;
  padding: 0.8rem 0rem;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}
.label-selected {
  border: 3px solid #a729f5;
}
.div-selected {
  background-color: #a729f5;
}
.h1-selected {
  color: white;
}

.correct-label {
  border: 3px solid #26d782;
}

select{
  cursor: pointer;
}


.correct-div {
  background-color: #26d782;
}

.correct-h1 {
  color: white;
}

.incorrect-div {
  border: 3px solid #ee5454;
  background-color: #ee5454;
}

.incorrect-h1 {
  color: white;
}
.warning-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.warning {
  text-align: center;
  color: #f15656;
}

.result-card {
  width: 90%;
  margin-inline: auto;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0rem;
}
.result-card-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.result-card-heading {
  font-size: 1.3rem;
  font-weight: 500;
}
.result-card-heading-dark {
  color: white;
}
.result-card-heading2 {
  font-size: 7rem;
  font-weight: 500;
}
.result-card-heading2-dark {
  color: white;
}
.play-again {
  width: 90%;
  margin-inline: auto;
}
.result-button-wrapper {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.result-card-dark {
  background-color: #64748b;
}

#theme {
  display: none;
}

.toggle-label {
  width: 2.6rem;
  height: 1.5rem;
  background-color: #a729f5;
  display: inline-block;
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
}
.toggle-ball {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background: white;
  display: inline-block;
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  transition: all 0.2s linear;
}
#theme:checked + .toggle-label .toggle-ball {
  transform: translateX(0.9rem);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}
.theme-icon {
  width: 1.2rem;
}
.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.png-icon {
  width: 40px;
}
.preference-main-div {
  margin-top: 8rem;

  gap: 2rem;
}
.select-wrapper-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 2rem 2rem;
}

#questionCount {
  text-align: center;
}
.questionCount-label {
  text-align: center;
  width: 13ch;
}
.difficulty-label {
  width: 11ch;
  text-align: center;
}

#difficulty {
  text-align: center;
}

.dropdown {
  background-color: #a729f5;
  color: white;
  font-family: "Rubik", sans-serif;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
.preference-h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}
.preference-h1-dark {
  color: white;
}
.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 16rem;
}
.preference-btn {
  background-color: #a729f5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  font-family: "Rubik", sans-serif;
}
.quiz-logo {
  width: 40px;
}
.Loading {
  text-align: center;
  font-size: 1.3rem;
}
.Loading-dark {
  color: white;
}
.question-option {
  font-size: 0.8rem;
}

@media (min-width: 425px) {
  .question-option {
    font-size: 0.9rem;
  }
}
@media (min-width: 425px) {
  .question-option {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .App {
    height: 100%;
    margin-inline: auto;
  }
  .main {
    flex-direction: row;
    margin-top: 4rem;
    gap: 2rem;
  }
  .left-split {
    width: 50%;
    padding-right: 0;
  }
  .right-split {
    width: 50%;
    padding-left: 0;
  }

  .dropdown {
    font-size: 1rem;
  }
  .preference-btn {
    font-size: 1rem;
  }
  .preference-h1 {
    font-size: 1.5rem;
  }
  .heading1-quiz {
    font-size: 1.5rem;
  }
  .result-wrapper {
    width: 50%;
  }
  .header {
    max-width: 1024px;
    margin-inline: auto;
  }
  .main {
    max-width: 1024px;
    margin-inline: auto;
  }
  .heading1 {
    font-size: 3rem;
  }
  .preference-h1 {
    font-size: 2rem;
  }
  .heading2 {
    font-size: 1.4rem;
  }
  .cards {
    padding: 1rem 1.2rem;
  }
  .png-icon {
    width: 48px;
  }
  .card-heading {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .option {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .left-split {
    padding: 0;
  }
  .right-split {
    padding: 0;
  }
  .cards {
    padding: 1rem 1.5rem;
  }
  .png-icon {
    width: 56px;
  }
  .card-heading {
    font-size: 1.6rem;
  }
}
